.mobile{
  display:none;
}
html{
  font-family: helvetica;

}
/*Header styling*/
  header{
    position:fixed;
    width:100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:64px;
    background-color: white;
  }
  header a{
    color: #2e2e2e;
  }
  .logo{
    height:32px;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left: 24px;
  }
  #desktop_logo{
    font-size: 1.2rem;
    color: grey;
  }
  #desktop_logo span{
    font-weight: bold;
    color: #2e2e2e;
  }
  header ul{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    text-align: center;
    margin-right: 16px;
  }

  header ul li{
    padding:8px;
  }
/*
  .full_container{
    height:448px;
  }*/

  @media only screen and (max-width: 450px){
    .desktop{
      display:none;
    }
    .logo{
      display:none;
    }
    .mobile{
      display: flex;
    }
    header nav{
      width:100%;
    }
    header nav ul{
      width:100%;
      justify-content: space-between;
      margin-left: 16px;
    }
  }
/*Learn content styling*/

  .learn_container{
    width: 100%;
    padding-top: 64px;
    background-color: lightgrey;
    /*margin-top: 32px;*/
    display: flex;
    flex-direction: row;
    border: solid 1px red;
  }
  .imag{
    width: 60%;
    height:auto;
    border: solid 1px blue;
  }
  .imag img{
    border: solid 1px green;
    max-width: 95%;
    max-height: 100%;
    margin: 32px 24px;
  }
  .learn_container #text_button{
    border: solid 1px purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
  }
  h1{
    font-weight: bold;
    font-size: 2.5rem;
    color:  #404040;
    margin-bottom: 32px;
  }
  h2{
    font-size: 1.5rem;
    color:  #404040;
    margin-bottom: 24px;
  }

  #button{
    width: 30%;
    padding: 8px 25%;
    background-color: #404040;
    border-radius: 4px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;
    color: #f2f2f2;
  }
@media only screen and (max-width: 450px){
  .learn_container{
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }
  .imag{
    width: 100%;
    margin: 0px;
  }
  .learn_container{
    width: 100%;
  }
  #button{
    width:46%;
    margin-bottom: 32px;
  }
  .learn_container #text_button{
    margin-left: 16px;
    margin-top: 32px;
  }
}

/*Styling for practice segment*/

#practice{
  display: flex;
  flex-direction: row;
}

#practice_left{
  width:60%;
  /*height:auto;*/
  border: solid 1px red;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
}
#practice_image img{
  width:100%;
  height: auto;
}
#practice_image{
  margin:32px 24px 32px 0px;
}
#practice_image h5{
}
#practice_right{
  width:40%;
  height:10px;
  border: solid 1px blue;
}

#practice_left p{
  line-height: 1.3rem;
  font-weight: lighter;
}
h5{
  margin: 32px 0px;
  font-size: 0.8rem;
}

#practice_right{
  display: flex;
  flex-direction: column;
}
